@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model MemoryCacheLearn.Models.CallbackViewModel
@{
    ViewData["Title"] = "CallBack";
}

<h2>CallBack</h2>
<h3>Cache Message:@Model.Message</h3>
<h3>Cache CachedTime:@Model.CachedTime</h3>


